/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/kTYfCWJhlldPf5LnG4ZnHCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/g46X4VH_KHOWAAa-HpnGPiEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/hpORcvLZtemlH8gI-1S-7iEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v8/0XxGQsSc1g4rdRdjJKZrNPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html 
{
	height:100vh; 
	width: 100vh;
	margin:0;
	border: 0;
	padding: 0;
}


body 
{ 
	position:absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	margin: 0;
}


.container
{	
	max-width: 73.57%;	
	display: block;
	margin: auto;
	height: 100%;
	position: relative;
	border: 2px solid green;
}

p
{
	font-family: 'PT Sans';
	color: #808080;
}


#contacto
{
	font-size: 12px;
	position: relative;
	font-family: 'PT Sans';
	color: #808080;
	padding: 10% 0 0 0;

}

#logoWeb
{
	display: block;
	margin: auto;
	height: auto;
	width: 20%;
	position: relative;
}

#carteras
{	
	text-align: center;
	font-size: 14px;
	font-family: 'PT Sans';
	color: #808080;
	position: relative;
	
}

#carousel
{	
	
	height: 0%;
	display: block;
	margin: auto;
	position: relative;
}

#pie
{
	
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	position: absolute;

	
}




